h1{
    font-weight: bold;
    font-style: Segoe UI;
    font-size: 25px;
}
h2{
    font-style: Segoe UI;
    font-size: 21.5px;
}
p{
    font-style: Segoe UI;
    font-size: 10px;
}

.col-md-8.form-image {
    margin-top: -10px;
  }
  
  .col-md-10.form-image {
    margin-top: -5px;
  }
  
  .image-upload-container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #ffffff;
  }
  
  .image-upload-container .form-control-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }
  
  .image-placeholder {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    background-image: url(placeholder-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
  }
  